/* Background image */
body {
    background-image: url('background-image.jpg');
    background-size: cover;
    font-family: sans-serif; /* Apply sans-serif to the whole page */
}


/* Zebra-striped table */
table tr:nth-child(odd) {
    background-color: #bad2ff;
}
table tr:nth-child(even) {
    background-color: #80acff;
}

/* Links hover effect */
a:hover {
    color: pink;
    text-decoration: underline;
}

/* Span for special words */
span.highlight {
    color: red;
    font-weight: bold;
}
